@font-face {
    font-family: 'DroidSansRegular';
    src: url('fonts/droidsans.eot');
    src: url('fonts/droidsans.eot') format('embedded-opentype'),
         url('fonts/droidsans.woff') format('woff'),
         url('fonts/droidsans.ttf') format('truetype'),
         url('fonts/droidsans.svg#DroidSansRegular') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('fonts/playfairdisplay.eot');
    src: url('fonts/playfairdisplay.eot') format('embedded-opentype'),
         url('fonts/playfairdisplay.woff') format('woff'),
         url('fonts/playfairdisplay.ttf') format('truetype'),
         url('fonts/playfairdisplay.svg#PlayfairDisplayRegular') format('svg');
}

a {
	text-decoration: none;
}

body {
	background: #fdfdfe repeat;
    font: normal 16px/1.4 'DroidSansRegular';
    margin: 0;
    padding: 0; 
}

html {
	background: none;
	margin:0;
	padding:0;
}

ul {
	margin: 0;
	padding: 0;
}

#container-body {
	margin: 0 auto;
	margin-top: 1.5em;
	max-width: 960px;
	position: relative;
	width: 100%;
}

#footer {
	border-bottom: 4px solid #f47321;
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
	position: relative;
	text-align: left;
	width: 100%;
}

	#footer .columns {
		padding-top: 1.5em;
	}

	#footer ul {
		padding: 1em;
		padding-left: 0;
	}

	#footer ul li {
		list-style: none
	}

	#footer ul li a, #footer ul li span {
		color: #505050;
		font-family: 'Helvetica';
		font-size: 0.875em;
		font-weight: normal;
		margin-right: 1em;
	}

#logo {
	text-align: center;
}

#slide, #contentBody, .imageInto {
	margin-top: 1.5em;
}

.artAuthor {
	background: #f47321;
	float: right;
	height: 50px;
}

.artText {
	font-size: 1.125em;
	margin-top: 1.25em;
	text-align: justify;
}

	.artAuthor span {
		color: #fff;
		font-family: 'PlayfairDisplayRegular';
		font-size: 1.25em;
		font-weight: bold;
		line-height: 50px;
		padding: 0 1em;
	}

.articleInto {
	border-right: 1px dotted #cdcdcd;
	padding-left: 0;
	padding-right: 1.5em;
}

.articles {
	background: #141414;
	margin-bottom: 1.5em;
	padding: 1.5em;
	width: 100%;
}

.articles .arts {
	float: left;
	height: 400px;
	overflow: hidden;
	padding-right: 1em;
	position: relative;
	width: 72.5%;
}

.art {
	width: 100%;
	margin-bottom: 1.5em
}

.art:nth-child(6) {
	margin-bottom: 0;
}

	.art .image {
		border: 3px solid #fff;
		float: left;
		width: 21%;
	}

		.art .image img {
			width: 100%;
		}

	.art .content {
		float: right;
		height: 115px;
		width: 77%;
	}

		.art .content h2 {
			color: #fff;
			font-family: 'DroidSansRegular';
			font-size: 1.125em;
			font-weight: normal;
			margin-bottom: 0.5em;
			margin-top: -5px;
		}

		.art .content .editor {
			background: url('../img/editor.png') no-repeat center left;
			color: #f47321;
			display: block;
			margin-bottom: 0.5em;
			padding-left: 1.5em;
		}

		.art .content .text {
			font-size: 0.875em;
		}

		.art .content .text p {
			color: #fff;
			line-height: 1.4;
		}

.articles .pub {
	float: right;
	width: 24.5%;
}

	.articles .pub .image {
		margin-bottom: 1.5em;
		width: 100%;
	}

.asideR {
	padding-left: 1.5em;
	padding-right: 0; 
}

.asideB {
	background: #f1f1f1;
	margin-top: 1.5em;
	width: 100%;
}

	.asideB .title {
		text-align: center;
		margin-top: 1.5em;
	}

	.asideB .content {
		border-left: 2px solid #fff;
		margin: 1.5em 0;
	}

		.asideB .title span {
			font-family: 'PlayfairDisplayRegular';
			font-size: 1.8em;
			font-weight: bold;
		}

.clear {
	clear: both;
}

.editions {
	margin-top: 1.5em !important;
}

.editions .edition {
	float: left;
}

	.editions .edition img {
		width: 100%;
	}

.edition-title h2, .article-title span {
	color: #f47321;
	font-family: 'PlayfairDisplayRegular';
	text-align: center;
	text-rendering: geometricPrecision;
}

.edition-title h2 {
	font-size: 2.5em;
	margin-bottom: 0.2em;
}

.editTop {
	background: #f1f1f1;
	padding: 1.5em 0.75em;
}

	.editTop .largeL {
		width: 28.5%;
	}

		.editTop .largeL img {
			width: 100%;
		}

	.editTop .largeR {
		width: 71.5%;
	}

	.editTop #slide {
		margin-top: 0;
	}

.edit {
	margin-top: 1.5em !important;
}

	.edit .image {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

		.edit .image img {
			width: 100%;
		}

		.edit:hover .image img {
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}

		.edit .image img, .edit .image .text {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		.edit .image .text {
			background: rgba(0,0,0,0.6);
			opacity:0;
			height: 100%;
			left: 0;
			overflow: hidden;
			padding: 1.5em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
		}

		.edit:hover .image .text {
			opacity:1;
		}

		.edit .image .text h3 {
			display: inline;
			color: #fff;
			font-family: 'PlayfairDisplayRegular';
			font-size: 2.8em;
		}
.editTop .edit {
	margin-top: 0 !important;
}

.article-title span {
	font-size: 3em;
	font-weight: bold;
}

.galeries {
	background: #141414;
	margin-bottom: 1.5em;
	padding: 1.5em;
	width: 100%;
}

	.galeries .gal {
		float: left;
		overflow: hidden;
		position: relative;
		width: 72.5%;
	}

		.galeries .gal .columns {
			margin-bottom: 1em;
		}

		.galeries .gal .image {
			background: #fff;
			padding: 0.25em;
		}

			.galeries .gal .image .text {
				margin-top: 0.5em;
			}

			.galeries .gal .image .text h4, .galeries .gal .image .text a  {
				line-height: 2em;
			}

			.galeries .gal .image .text h4 {
				float: left;
				font-size: 0.75em;
				font-weight: normal;
			}

			.galeries .gal .image .text a {
				background: #f47321;
				border-radius: 1em;
				color: #fff;
				display: block;
				float: right;
				font-size: 0.75em;
				padding: 0 0.5em;
				width: auto;
			}

	.galeries .pub {
		float: right;
		width: 24.5%;
	}

		.galeries .pub .image {
			width: 100%;
		}

.intro {
	font-family: 'PlayfairDisplayRegular';
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.75em;
	text-align: center;
}

.linea {
	border-top: 4px solid #f47321;
	margin-top: 1.5em;
}

.logoPiggy {
	font-size: 0.875em;
	margin: 0 auto;
	max-width: 960px;
	padding: 1em 0;
	text-align: right;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 60px;
}

.orbit-container:hover .orbit-prev, .orbit-container:hover .orbit-next {
	background-color: rgba(0, 0, 0, 0.6)
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	display: none;
}

.orbit-container .orbit-prev > span {
	border-right-color: #cdcdcd;
	margin-left: 2px;
}

.orbit-container .orbit-next > span {
	border-left-color: #cdcdcd;
	margin-left: -6px;
}

.orbit-container:hover .orbit-prev > span, .orbit-container:hover .orbit-next > span {
	display: block;
}

.orbit-container .orbit-prev {
	left: 1.5em;
}

.orbit-container .orbit-next {
	right: 1.5em;
}

.orbit-container .orbit-timer {
	display: none;
}

.otherArt {
	background: #f1f1f1;
	padding: 1.5em;
}

	.otherArt .title {
		display: block;
		font-family: 'PlayfairDisplayRegular';
		font-size: 1.125em;
		font-weight: bold;
		text-align: center;
	}

.other {
	float: left;
	padding: 1.5em 0;
	border-bottom: 2px solid #fff;
}
.other:last-child {
	border: 0;
	padding-bottom: 0;
}

	.other .image {
		float: left;
		width: 38%;
	}

	.other .text {
		float: right;
		width: 55%;
	}

		.other .text h4, li.otherB .title h4 {
			color: #9f9e9e;
			font-family: 'PlayfairDisplayRegular';
			font-size: 1em;
		}

		.other:hover .text h4, li.otherB:hover .title h4 {
			color: #707070;	
		}

li.otherB {
	float: left;
	list-style: none;
	padding-right: 0.75em;
	padding-left: 0.75em;
	width: 20%;
}
li.otherB:last-child {}

	li.otherB .title h4 {
		margin-bottom: 0;
	}

.ps-container .ps-scrollbar-x-rail {
	display: none;
}

.ps-container .ps-scrollbar-y-rail {
	background: #fff;
	opacity: 0.6 !important;
	filter: alpha(opacity = 60) !important;
}

.pub-horizontal {
	max-width: 960px;
	width: 100%;
}

.pubIntoH {
	margin-top: 1.5em;
	width: 100%;
}

	.pubIntoH img {
		width: 100%;
	}

.public, .public img {
	width: 100%;
}

.public img {
	margin-top: 1.5em;
}

.searchForm {
	float: right;
	margin: 0;
	width: 330px;
}

.searchForm input {
	float: right;
	margin: 0;
}

.searchForm .inputSearch {
	background: #f99351;
	border: 0;
	height: 50px;
	width: 280px;
}

.share {
	float: right;
}

.share .fb-like, .share .twitter {
	float: right;
	height: 50px;
	padding: 15px 1em;
	float: left;
}

.share .fb-like {
	background: #1b47a1;
}

.share .twitter {
	background: #4ec0fc;
}

.inputSearch::-webkit-input-placeholder {
    color:    #fff;
}
.inputSearch:-moz-placeholder {
    color:    #fff;
}

.social {
	margin: 0 auto;
	max-width: 960px;
	padding: 0.5em;
	text-align: right;
}

	.social img {
		margin-right: 0.5em;
	}

.titleTop {
	background: #f47321;
	max-height: auto;
	margin-top: 1.5em;
	width: 100%;
}

	.titleTop h2 {
		color: #fff;
		float: left;
		font-family: 'PlayfairDisplayRegular';
		font-size: 1.5em;
		line-height: 50px;
		margin: 0;
	} 

.top-bar {
	background: transparent;
	margin: 0 auto;
	max-width: 960px;
}

.top-bar-section ul {
	background: transparent;
}

.top-bar-section li a:not(.button) {
	background: transparent;
	font-family: 'PlayfairDisplayRegular';
	color: #8c8c8c;
	font-size: 1.0625em;
	padding: 0 12px;
	text-align: center;
}

.top-bar-section li a:not(.button):hover {
	background: transparent;
	color: #f47321;
}

.top-bar.expanded .top-bar-section li a:not(.button) {
	border-top: 1px dotted #cdcdcd;
	color: #fff;
	line-height: 45px;
}

.top-bar.expanded .top-bar-section li a:not(.button):hover {
	background: #cc621e;
}

.top-bar.expanded .title-area, .top-bar .title-area, .top-bar.expanded ul {
	background: #f47321;
}

.top-bar.expanded .toggle-topbar a {
	color: #fff;
}

.top-bar.expanded .toggle-topbar a span {
	-webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}

.transition, .orbit-container .orbit-prev, .orbit-container .orbit-next, .orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media only screen and (max-width: 1024px) {
	.edit .image .text h3 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 768px) {
	.art .content .text {
		display: none;
	}

	.edit {
		width: 33.3333%;
	}

	.galeries .gal {
		width: 75%;
	}

	.other .image, .other .text {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.articles .arts {
		width: 100%;
	}

		.art .image {
			width: 40%;
		}

		.art .content {
			width: 50%;
		}

			.art .content h2 {
				margin-top: 0; 	
			}

	.articleInto {
		padding-right: 0;
	}

	.articles .pub {
		margin-top: 1.5em;
		width: 100%;
	}

		.articles .pub .image {
			float: left;
			padding: 0.75em;
			width: 50%;
		}

	.asideB .title span, .otherArt .title {
		font-size: 1.5em;
	}

	.asideR {
		padding-left: 0;
	}

	.edit {
		width: 50%;
	}

	.edit .image .text h3 {
		font-size: 2em;
	}

	.editTop .edit .image .text {
		padding: 1em;
	}

	.editTop .edit .image .text h3 {
		font-size: 0.8em;
	}

	.edition-title h2 {
		font-size: 2em;
	}

	.editions .edition {
		margin-bottom: 1.5em;
	}

	.galeries {
		padding-right: 0;
	}

		.galeries .gal {
			width: 100%;
		}

	.galeries .pub {
		padding-right: 1.5em;
		text-align: center;
		width: 100%;
	}

	.intro {
		font-size: 1.5em;
		padding: 0 0.5em;
	}

	.artText {
		padding: 0 0.75em;
	}

	.other .image, .otherB img {
		float: left;
		width: 38%;
	}

	.other .text, .otherB .title {
		float: right;
		text-align: center;
		width: 55%;
	}

		.other .text h4, .otherB .title h4 {
			margin-top: 1em;			
		}

	li.otherB {
		margin-bottom: 1.5em;
		width: 100%;
	}
	li.otherB:last-child {
		margin-bottom: 0;
	}

	.public a {
		display: block;
		float: left;
		padding: 0 0.75em;
		width: 50%;
	}
}

@media only screen and (max-width: 320px) {

	.asideB .title {
		margin-top: 0;
	}

	.edit {
		padding: 1.5em;
		width: 100%;
	}

	.edit .image .text h3, .editTop .edit .image .text h3 {
		font-size: 3em;
	}

	.editTop .edit {
		margin-bottom: 1.5em;
		padding: 0;
	}

	.editions .edition {
		width: 100%;
	}

	.galeries .gal .columns {
		width: 100%;
	}

	.galeries .gal .columns img {
		width: 100%;
	}

	.galeries .pub img {
		width: 100%;
	}

	.editTop .largeL, .editTop .largeR {
		width: 100%;
	}

	.other .text h4, .otherB .title h4 {
		margin-top: 0;
	}
}